/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { line-height: 1.5; min-height: 100vh }
@media (max-width: 767px ) { body { text-rendering: optimizeSpeed } }
@media (min-width: 768px ) { body { text-rendering: optimizeLegibility } }
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */

/* Desktops */
@media (min-width: 768px) {
    body { padding: 4% 20% }
 }
 
 /* Mobiles */
 @media (max-width: 767px) {
    body { padding: 8% 5% }
 }

body { padding: 4% 20%; 
 background-color: purple;
}
html {background-color: bisque;}


section *:last-child { margin-bottom: 0 !important }

.meu-gif2 {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: rotate 3s infinite linear;
}

h1 {
    font-size: 84px;
    margin-bottom: 64px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 4px;
    color: white;
}

h2 {
    font-size: 28px;
    margin-bottom: 4px;
    margin-top: 54px;
    text-transform: uppercase;
    color: white;
}

p {
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
    color: white;
}

p a {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    text-decoration: underline;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}